<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div *ngIf="!estaAutenticada()">
            <a class="navbar-brand">Terceiras</a>
        </div>
        <div *ngIf="estaAutenticada()">
            <a class="navbar-brand">{{terceiraLogada.razaoSocial}}</a>
        </div>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!estaAutenticada()" routerLink="/login" class="nav-link">Log-In</a></li>
            <li><a *ngIf="estaAutenticada()" routerLink="/logout" class="nav-link">Log-Out</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
        <span class="text-muted">All Rights Reserved 2020 Matheus Correia</span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<br>