<div class="container">
    <h1>Solicitações de Serviço</h1>
    <div class="container">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th style="width: 14%">ID_OS</th>
                    <th style="width: 14%">UC</th>
                    <th style="width: 30%">Serviço</th>
                    <th style="width: 14%">Status</th>
                    <th style="width: 28%">Observação</th>
                </tr>
            </thead>
            <tbody *ngIf="oss!=null">
                <tr *ngFor="let os of oss" (click)="acessaDetail(os)">
                    <th>{{os.id}}</th>
                    <th>{{os.uc}}</th>
                    <th>{{os.servico}}</th>
                    <th>{{os.status}}</th>
                    <th>{{os.obs}}</th>
                </tr>
            </tbody>
        </table>
        <h3 *ngIf="oss.length<1">Ainda não lhe foi solicitada OS!</h3>
    </div>
    <button class="btn btn-primary" (click)="reloadTable()">Atualiza Tabela</button>
</div>