<div id="mainDiv" class="container">
    <h2>Login</h2>
    <div *ngIf="!authValid" class="alert alert-warning">
        <span>Credenciais Inválidas!</span>
    </div>
    <div class="form-group">
        <div class="form-row">
            <input [(ngModel)]="cliente.uc" class="form-control" type="text" placeholder="Unidade Consumidora" />
            <br>
            <br>
        </div>
        <div class="form-row">
            <input [(ngModel)]="cliente.cpf" class="form-control" type="text" placeholder="CPF/CNPJ" />
            <br>
            <br>
        </div>
    </div>
    <button type="button" (click)=fazerLogin() class="btn btn-primary">Acessar</button>
</div>